{% extends "base.html" %}
{% block title %} Welcome {% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main_dashboard">
<div>
  <a href="{{ url_for('core.folder_view', project_id=project_id) }}" class="btn btn-primary">Create Folder</a>
</div>
  <div class="d-flex flex-wrap">
   
    {% for folder in folders %}

    <div class="card m-2" style="width: 18rem;">
      
      <img src="" class="card-img-top"
       style="object-fit: cover;">

      <div class="card-body">
        <h5 class="card-title pb-2">{{ folder.name }}</h5>
      <div class="row">
        <a href="#" class="btn btn-primary col w-2">View</a>
    </div>
      </div>
    </div>
    
    {% endfor %}


<div>
{% endblock %}